body, html {
    height: 100%;
}

.bg {
    /* Image used as background */
   background-image: url('https://www.hoopswallpapers.com/wallpapers/2017/kobe-jersey-retirement-wallpaper-preview.jpg');

   /* Full height */

   height: 100%;

   /* Center and scale background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {

}


button {
    background-color: yellow;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-size-adjust: auto;
    text-decoration-color: rgb(80, 17, 80);

}